.menu {
    align-items: center;
    background-color: #FFEBCA;
    border-bottom: 10px solid #2C4450;
    border-top: 10px solid #2C4450;
    background-color: #FFEBCA;
    display: flex;
    justify-content: space-around;
    margin: 0px 0px;
    padding: 15px;
    transition: all 400ms;
}

.image {
    cursor: pointer;
    height: 80px;
    width: auto;
    transition: all 400ms;
   
}

.image:hover {
    filter: drop-shadow(5px 5px 6px rgb(117, 9, 9)); 
    transform: scale(1.2, 1.2);
}

.input {
    cursor: text;
    height: 30px;
    width: 300px;
}

.body {
    background: grey;
    margin-top: 0%;
}
