/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Poppins";
    margin: 0%;
}

body {
    background-image: url('./assets/Images/Background-3.jpg');
}
